
  
  .menu-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      color: #fff;
  }
  
  .menu-list-container {
      list-style: none;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  .item-icon {
    display: flex;
    gap: 10px;
  }